<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Marimekko Swap</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        })

        function getBack() {

            fetch("https://marimekko-swap.herokuapp.com/get-back", {
                method: "POST",
                headers: {'Content-Type': 'application/json'}
            }).then(res => {
                console.log(res)
                Swal.fire({
                    title: 'Ok :(',
                    text: 'We marked this as got back. The queue for this item will be declined. You can get it back next month in the nearest Marimekko Swap point.',
                    icon: 'info',
                    iconColor: '#000',
                    confirmButtonColor: '#000',
                    confirmButtonText: 'Ok',
                    preConfirm: () => {
                        location.reload();
                    }
                })
            });
        }
    </script>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light border mt-2 static-top">
                <a class="d-none d-lg-block navbar-brand" th:href="@{/}"><img class="header__logo-image" loading="lazy"
                                                                              src="https://www.marimekko.com/static/version1637055171/frontend/Improove/marimekko2/fi_FI/images/logo.svg"
                                                                              alt="" width="170" style="margin-bottom: 8px;">
                    <span
                            style="margin-left: 5px; font-weight: lighter;">Swap</span></a>
                <div class="d-sm-block d-lg-none">
                    <div class="float-left">
                        <a th:href="@{/explore}" class="text-dark h3"><i class="bi bi-bag"></i></a>
                    </div>
                    <div class="float-left ml-3">
                        <a th:href="@{/profile}" class="text-dark h3"><i class="bi bi-person"></i></a>
                    </div>
                    <div class="float-left ml-3">
                        <a th:href="@{/own-clothes}" class="text-dark"><img width="38px"
                                                                            th:src="@{/mlogo.jpeg}"></i>
                        </a><span style="margin-left: 5px; font-weight: bold" th:text="${user.flowers}"></span>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/explore}">Explore</a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-inline">
                        <div class="float-left">
                            <a th:href="@{/profile}" class="text-dark h3"><i class="bi bi-person"></i></a>
                        </div>
                        <div class="float-left ml-3">
                            <a th:href="@{/own-clothes}" class="text-dark"><img width="38px"
                                                                                th:src="@{/mlogo.jpeg}"></i>
                            </a><span style="margin-left: 5px; font-weight: bold" th:text="${user.flowers}"></span>
                        </div>
                    </div>
                </div>
            </nav>
            <!--   CONTENT   -->
            <div class="row mt-3">
                <div class="col">
                    <h2>My owned items</h2>
                    <p>This page shows your own items you've shared with Marimekko Swap community. You can get them back
                    any time. Unfortunately, this will affect your Swap Score.</p>
                </div>
            </div>
            <div id="products" class="row view-group mt-3">
                <div th:each="item: ${items}" class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <img class="group list-group-image card-img-top" th:src="${item.pictureUrl}"
                             alt=""/>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading"
                                th:text="${item.name} + (${item.itemSize.equals('One size')} ? '' : ', ' + ${item.itemSize})"></h4>
                            <div class="row w-100">
                                <div class="col-xs-12 col-md-12">
                                    <button class="btn btn-dark" onclick="getBack()">Get it back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>