<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Marimekko Swap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href="css/style.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light border mt-2 static-top">
                <a class="d-none d-lg-block navbar-brand" th:href="@{/}"><img class="header__logo-image" loading="lazy"
                                                                        src="https://www.marimekko.com/static/version1637055171/frontend/Improove/marimekko2/fi_FI/images/logo.svg"
                                                                        alt="" width="170" style="margin-bottom: 8px;">
                    <span
                            style="margin-left: 5px; font-weight: lighter;">Swap</span></a>
                <div class="d-sm-block d-lg-none">
                    <div class="float-left">
                        <a th:href="@{/profile}" class="text-dark h3"><i class="bi bi-person"></i></a>
                    </div>
                    <div class="float-left ml-3">
                        <a th:href="@{/own-clothes}" class="text-dark"><img width="38px"
                                                                            th:src="@{/mlogo.jpeg}"></i>
                        </a><span style="margin-left: 5px; font-weight: bold" th:text="${profile.user.flowers}"></span>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/explore}">Explore</a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-inline">
                        <div class="float-left">
                            <a th:href="@{/profile}" class="text-dark h3"><i class="bi bi-person"></i></a>
                        </div>
                        <div class="float-left ml-3">
                            <a th:href="@{/own-clothes}" class="text-dark"><img width="38px"
                                                                                th:src="@{/mlogo.jpeg}"></i>
                            </a><span style="margin-left: 5px; font-weight: bold" th:text="${profile.user.flowers}"></span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="m-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Booked items</h3>
                                <div th:each="bookedItem : ${profile.bookedItems}" class="row p-2">
                                    <div class="col-md-3">
                                        <img class="img-thumbnail" th:src="${bookedItem.item.pictureUrl}">
                                    </div>
                                    <div class="col-md-9">
                                        <h3 th:text="${bookedItem.item.name}"></h3>
                                        <p class="text-muted"
                                           th:text="'Pick up from ' + ${@viewUtil.toFirstDayOfMonth(bookedItem.monthOfUsage)}">
                                        </p>
                                        <a class="text-dark" target="_blank"
                                           th:href="'http://maps.google.com/maps?z=12&t=m&q=loc:' + ${bookedItem.location.lat} + '+' + ${bookedItem.location.lng}">
                                            <i class="bi bi-geo-alt"></i> at <span
                                                th:text="${bookedItem.location.locationName}"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Current items</h3>
                                <h5 class="card-subtitle mb-2 text-muted">Until 30 November</h5>
                                <div th:each="currentItem : ${profile.currentItems}" class="row p-2">
                                    <div class="col-md-3">
                                        <img class="img-thumbnail" th:src="${currentItem.item.pictureUrl}">
                                    </div>
                                    <div class="col-md-9">
                                        <h3 th:text="${currentItem.item.name}">

                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/restart}" class="text-dark text-muted">Restart the demo</a>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>